<html>
	<head>
		<title>User data</title>
		
		<link rel="stylesheet" href="/css/bootstrap-theme.css" type="text/css"
	          charset="utf:8"/>
	    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"
	          charset="utf:8"/>
	    <script src="/js/bootstrap.min.js"></script>
	    
	    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
			<script src="//code.jquery.com/jquery-1.10.2.js"></script>
			<script src="//code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
			<script>
				$(function() {
					$( "#datepicker" ).datepicker({
						format : 'MM-DD-YYY',
						changeMonth: true,
						changeYear: true
					});
					$('#datepicker').change(function(){
						window.location = "http://localhost:3000/user/activities?date=" + $('#datepicker').val();
					});
				});
			</script>
	</head>
	
	<body style="margin-left: 10%;">
		<h1><label>User activities</label></h1>
		<p>Date: <input type="text" id="datepicker" value="{{data.date}}"></p>
		<table class="table table-striped" style="width: 35%; float: left">
			<thead>
				<th>Activity</th>
				<th>Distance</th>
			</thead>
			<tbody>
				{{#each data.summary.distances}}
					<tr>
						<td>
							{{activity}}
						</td>
						<td>
							{{distance}}
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<h4 style="float: left; margin-left: 10%; margin-top: -1px; width: 35%;">User scores</h4>
		<ul class="list-group" style="width: 35%; float: left; margin-left: 10%;">
			<li class="list-group-item">activeScore : {{data.summary.activeScore}}</li>
			<li class="list-group-item">activityCalories : {{data.summary.activityCalories}}</li>
			<li class="list-group-item">caloriesBMR : {{data.summary.caloriesBMR}}</li>
			<li class="list-group-item">caloriesOut : {{data.summary.caloriesOut}}</li>
			<li class="list-group-item">elevation : {{data.summary.elevation}}</li>
			<li class="list-group-item">fairlyActiveMinutes : {{data.summary.fairlyActiveMinutes}}</li>
			<li class="list-group-item">floors : {{data.summary.floors}}</li>
			<li class="list-group-item">lightlyActiveMinutes : {{data.summary.lightlyActiveMinutes}}</li>
			<li class="list-group-item">marginalCalories : {{data.summary.marginalCalories}}</li>
			<li class="list-group-item">sedentaryMinutes : {{data.summary.sedentaryMinutes}}</li>
			<li class="list-group-item">steps : {{data.summary.steps}}</li>
			<li class="list-group-item">veryActiveMinutes : {{data.summary.veryActiveMinutes}}</li>
		</ul>
		
	</body>
</html>
